<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel = "stylesheet" href="/css/home/home.css">
        
        <title>Homepage</title>
    </head>
<body class="dropdownmenu">
    <ul>
      <li><a href="http://www.jochaho.com/wordpress/">Home</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="#">Articles on HTML5 & CSS3</a>
        <ul id="submenu">
          <li><a href="http://www.jochaho.com/wordpress/difference-between-svg-vs-canvas/">Difference between SVG vs. Canvas</a></li>
          <li><a href="http://www.jochaho.com/wordpress/new-features-in-html5/">New features in HTML5</a></li>
          <li><a href="http://www.jochaho.com/wordpress/creating-links-to-sections-within-a-webpage/">Creating links to sections within a webpage</a></li>
        </ul>
      </li>
      <li><a href="http://www.jochaho.com/wordpress/category/news/">News</a></li>
      <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">Contact Us</a></li>
    </ul>
</body>